:root {
    --mainColor: rgb(0, 0, 0);
    --secondaryColor: rgb(255, 255, 255);
    --terciaryColor: orange;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial;

    img {
        width: 100%;
    }
}

body {
    background-color: var(--secondaryColor);
}

header {
    width: 100%;

    hr {
        color: var(--secondaryColor);
    }

    .navbar {
        background-color: rgb(0, 0, 0, 0.92) !important;
        position: absolute;
        width: 100%;
        padding-inline: 0px !important;

        .navbar-brand {
            width: 175px;

            img {
                padding: 10px;
                padding-bottom: 0;
                transition: transform 0.2s;
            }
        }

        .navbar-brand:hover {
            img {
                transform: scale(1.15);
            }
        }


        .navbar-toggler {
            background-color: var(--secondaryColor);

            .navbar-toggler-icon {
                color: var(--secondaryColor) !important;
            }
        }

        .nav-link {
            color: var(--secondaryColor) !important;
            width: 100%;
            text-align: center;
            font-size: 18px;
            transition:
                color 0.2s,
                transform 0.2s;
            padding: 0 !important;
            margin-block: 10px;

            i {
                padding-right: 5px;
            }
        }

        .nav-link:hover {
            color: var(--terciaryColor) !important;
            transform: scale(1.15);
        }

        .nav-servicos {
            margin-block: 0 !important;
            width: 140px;
            margin-inline: auto !important;
            background: var(--terciaryColor) !important;
            color: var(--mainColor) !important;
            padding: 10px 0px !important;
            border-radius: 5px;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            transition: 0.2s;
        }

        .nav-servicos:hover {
            background: var(--secondaryColor) !important;
            color: var(--terciaryColor) !important;
            transform: scale(1.05);
        }
    }
}

.background {
    position: fixed;
    z-index: -2;
    width: 100%;
    top: 0;
    filter: brightness(100%);
}

.bg-desktop {
    display: none;
}

.bg-mobile {
    display: block;
    height: 100%;

    img {
        height: 100%;
        width: 120%;
    }
}



main {
    padding-top: 80px;

    .img-fundo {
        img {
            height: 500px;
        }
    }

    .titulo {
        width: 100%;
        margin-bottom: 50px;

        h1 {
            color: var(--secondaryColor);
            font-size: 50px;
            text-align: center;
            text-shadow: 0 0 5px var(--mainColor);
            font-weight: bold;
        }
    }
}


.gradiente {
    background: linear-gradient(to bottom, black, rgb(0, 0, 0, 0));
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 1150px;
    margin-top: -200px;
}

.main-home {

    .titulo-home {
        padding-inline: 20px;
        h1 {
            padding: 20px;
            padding-top: 0px;
            margin-bottom: 0px;

        }

        p {
            font-size: 20px;
            color: var(--secondaryColor);
            margin-bottom: 10px;
            background: none;
            width: 100%;
            text-shadow: 0 0 5px var(--mainColor);
        }
        .logo-bemvindo {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
    
            img {
                width: 100%;
                margin-inline: auto;
                margin-top: 30px;
            }
        }

        .btn-agendar {
            display: flex;
            width: 100%;
            justify-content: center;
            padding-top: 60px;
            padding-bottom: 0px;

            a {
                background: var(--terciaryColor);
                color: var(--mainColor);
                padding: 12px 32px;
                border-radius: 5px;
                text-decoration: none;
                font-size: 20px;
                font-weight: bold;
                transition: 0.2s;
            }

            a:hover {
                background: var(--secondaryColor);
                color: var(--terciaryColor);
                transform: scale(1.05);
            }
        }

        

    }

    .fade-home {

        background-color: rgb(0, 0, 0, 0.8);

        .sobre-home {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px !important;

            .sobre-content {
                width: 100%;
                color: var(--secondaryColor);
                display: flex;
                flex-direction: column;
                text-align: center;
                position: relative;

                h2 {
                    font-size: 32px;
                    font-weight: bold;
                    margin-bottom: 30px;
                    color: var(--terciaryColor);
                }

                .sobre-p{p {
                    font-size: 20px;
                    color: var(--secondaryColor);
                    margin-block: 30px;
                    width: 100%;
                    text-align: center;
                    padding-top: 440px;
                }}

                .btn-sobre {
                    width: 180px;
                    margin-inline: auto;
                    background: var(--terciaryColor);
                    color: var(--mainColor);
                    padding: 12px 32px;
                    border-radius: 5px;
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: bold;
                }

                .btn-sobre:hover {
                    background: var(--secondaryColor);
                    color: var(--terciaryColor);
                    transform: scale(1.05);
                    transition: transform 0.2s;
                }
                .img-sobre{
                    position: absolute;
                    padding-top: 70px;
                    img {
                    width: 100%;
                    border-radius: 10px;
                    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
                }}
            }

        }

        .galeria-home {
            width: 100%;
            background-color: var(--secondaryColor);
            display: flex;
            flex-wrap: wrap;
            .columns {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .column {
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    img {
                        transition: none;
                        filter: grayscale(100%) brightness(50%);
                    }
                }

                .ver-galeria {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    z-index: 10;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    a {
                        text-decoration: none;
                        background: var(--terciaryColor);
                        color: var(--mainColor);
                        padding: 12px 32px;
                        border-radius: 5px;
                        text-decoration: none;
                        font-size: 20px;
                        font-weight: bold;
                        height: 55px;
                    }
                }

                a:hover{
                    background: var(--secondaryColor);
                    color: var(--terciaryColor);
                    transform: scale(1.05);
                    transition: transform 0.2s;
                }
            }
        }


        p {
            color: var(--secondaryColor);
            font-size: 20px;
            text-align: center;
            text-shadow: 0 0 5px var(--mainColor);
        }


        .local-container {

            .local {
                padding-block: 50px;

                p {
                    color: var(--secondaryColor);
                    text-shadow: 0 0 10px var(--mainColor);
                    font-size: 50px;
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }

            .mapa {
                padding: 30px;
                padding-top: 0;
                padding-bottom: 100px;

                iframe {
                    border-radius: 5px;
                    height: 400px;
                }
            }
        }
    }

}

.main-galeria {
    .galeria-fotos {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin-bottom: -120px;

        .container-galeria {
            z-index: -1;
            width: 20%;
            display: flex;
            flex-direction: column;

            .column {
                img {
                    padding: 1.5px;
                    background-color: var(--secondaryColor);
                }
            }
        }
    }
}

.main-servicos {
    padding-bottom: 10px;

    .all-cards {

        .card {
            margin-bottom: 50px !important;
            margin-top: 0px !important;
            margin-inline: auto;
            border-width: 3px;
            border-color: var(--secondaryColor);
            box-shadow: 0px 0px 10px rgb(55, 55, 55);
            margin-top: 50px;
            margin-bottom: 50px;

            img {
                border: 3px solid rgb(0, 0, 0);
                border-radius: 0;
            }

            .card-body {
                background-color: var(--mainColor);
                color: var(--secondaryColor);
                text-align: center;
                padding-top: 0px !important;

                .card-title {
                    height: 50px;
                }

                .btn {
                    background: var(--terciaryColor);
                    color: var(--mainColor);
                    border-radius: 5px;
                    text-decoration: none;
                    font-weight: bold;
                }

                .btn:hover {
                    background: var(--secondaryColor);
                    color: var(--terciaryColor);
                    transform: scale(1.05);
                    transition: transform 0.2s;
                }
            }
        }
    }
}



.main-contato {

    .titulo-contato {
        padding-bottom: 20px;
    }

    .opcao-1 {
        background-color: rgb(32, 32, 32);
    }

    form {
        background-color: rgb(0, 0, 0, 0.8);
        text-align: center;
        width: 100%;

        .formulario {
            width: 100%;
            padding: 20px;
        }

        .opcao-2-desktop,
        .opcao-2-mobile {
            width: 100%;
            background-color: white;

            img {
                margin-top: 50px;
                border-radius: 10px;
                border: 3px var(--secondaryColor) solid;
            }

            p {
                color: black;
            }
        }

        .opcao-2-mobile {
            display: block;
        }

        .opcao-2-desktop {
            display: none;
        }

        p {
            color: var(--secondaryColor);
            font-size: 50px;
            text-align: center;
        }

        label {
            color: var(--secondaryColor);
            margin-bottom: 5px;
        }

        input {
            background: none;
            border: none;
            border-bottom: 1px solid #444;
            color: white;
            width: 100%;
            padding: 10px 0;
            margin-bottom: 20px;
            font-size: 16px;
        }

        select {
            border-radius: 5px;
            width: 100%;
            padding: 10px 0;
            margin-bottom: 20px;
            font-size: 16px;
            cursor: pointer;
        }

        .alternativa input[type="radio"] {
            width: 20px;
            height: 20px;
        }

        .alternativa {
            cursor: pointer;
            margin: 20px;
            margin-bottom: 0;

            input {
                cursor: pointer;
            }
        }

        .opcoes-pai {
            width: 100%;
            background-color: rgb(30, 30, 30);
            border-radius: 10px;
            margin-block: 20px;

           
        }

        button {
            width: 100%;
            background: var(--terciaryColor);
            color: var(--mainColor);
            padding: 12px 32px;
            margin-top: 40px;
            margin-bottom: 10px;
            border-radius: 5px;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            i {
                font-size: 35px;
                margin-left: 10px;
            }
        }

        button:hover {
            background: var(--secondaryColor);
            color: var(--terciaryColor);
            transform: scaley(1.05) scaleX(1.01);
            transition: transform 0.2s;
        }

        .parsley-errors-list {
            text-align: center;
            margin: 0;
            padding: 10px;
            margin-top: -30px !important;

            .parsley-required,
            .parsley-type,
            .parsley-minlength {
                color: red;
                text-decoration: none !important;
                list-style: none;
            }
        }
    }

}

footer {
    width: 100%;
    background-color: var(--mainColor);
    bottom: 0px;
    padding: 30px 20px;
    padding-bottom: 0px;
    border-top: 3px solid var(--secondaryColor);

    .img-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;

        img {
            width: 125px;
        }
    }

    p {
        width: 100%;
        text-align: center;
        color: var(--secondaryColor);
        margin: 0;
        padding: 30px;
        padding-top: 0px;
    }

    i {
        color: var(--secondaryColor);
    }

    .redes {
        display: flex;
        width: 300px;
        justify-content: space-evenly;
        margin-inline: auto;
        padding-bottom: 30px;

        .column {
            text-align: center;

            i {
                color: var(--mainColor);
                text-align: center;
                background-color: var(--secondaryColor);
                padding: 10px 12px;
                border-radius: 100%;
                font-size: 30px;
            }

            a:hover {

                i,
                img {
                    background: var(--secondaryColor);
                    color: var(--terciaryColor);
                    transform: scale(1.15);
                    transition: transform 0.2s;
                }
            }
        }


        .barber {
            img {
                width: 50px;
                background-color: var(--secondaryColor);
                border-radius: 100%;
            }

        }
    }
}

#mainHeader {
    transition: top 0.3s;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}

#mainHeader.hide-header {
    top: -500px;
    /* Esconde o header para cima */
}

@media(min-width:992px) {
    header {
        .navbar {
            .navbar-brand {
                margin-left: 90px;
            }

            .container-fluid {
                margin-right: 100px;

                .navbar-nav {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;

                    .nav-item {
                        margin-left: 40px;
                    }
                }
            }
        }
    }

    .background {
        img {
            height: 1210px;
        }
    }

    .bg-desktop {
        display: block;

    }

    .bg-mobile {
        display: none;
    }

   

    .main-home {
        .titulo-home {
        padding-inline: 20px;
        margin-bottom: 80px;
        h1 {
            margin-bottom: 0;

        }

        p {
            font-size: 20px;
            color: var(--secondaryColor);
            margin-bottom: 10px;
            background: none;
            width: 100%;
            text-shadow: 0 0 5px var(--mainColor);
        }
        .logo-bemvindo {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
    
            img {
                width: 500px;
                margin-inline: auto;
            }
        }

        .btn-agendar {
            display: flex;
            width: 100%;
            justify-content: center;
            padding-top: 15px;

            a {
                background: var(--terciaryColor);
                color: var(--mainColor);
                padding: 12px 32px;
                border-radius: 5px;
                text-decoration: none;
                font-size: 20px;
                font-weight: bold;
                transition: 0.2s;
            }

            a:hover {
                background: var(--secondaryColor);
                color: var(--terciaryColor);
                transform: scale(1.05);
            }
        }

        

    }

    .fade-home{.sobre-home {
            width: 100%;
            display: flex;
            padding: 60px 110px !important;

            .sobre-content {
                width: 100%;
                color: var(--secondaryColor);
                display: flex;
                align-items: flex-start;
                position: relative;
                padding-block: 140px;
                h2 {
                    margin: 0;
                    width: 60%;
                    font-size: 32px;
                    font-weight: bold;
                    margin-bottom: 10px;
                    color: var(--terciaryColor);
                    text-align: left;
                }

                .sobre-p{
                    width: 60%;
                    p {
                        padding: 0;
                    margin: 0;
                    font-size: 20px;
                    color: var(--secondaryColor);
                    margin-bottom: 10px;
                    text-align: left;
                }}

                .btn-sobre {
                    background: var(--terciaryColor);
                    color: var(--mainColor);
                    padding: 12px 32px;
                    border-radius: 5px;
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: bold;
                    margin: 0px ;
                    margin-top: 20px;
                }

                .btn-sobre:hover {
                    background: var(--secondaryColor);
                    color: var(--terciaryColor);
                    transform: scale(1.05);
                    transition: transform 0.2s;
                }
                .img-sobre{
                    padding: 0;
                    top: 0;
                    display: flex;
                    justify-content: end;
                    width: 100%;
                    z-index: -1;
                    img {
                    width: 400px !important;
                    border-radius: 10px;
                    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
                }}
            }
            
        }

        .galeria-home {
            width: 100%;
            background-color: var(--secondaryColor);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;

            .columns {
                width: 100%;
                padding: 50px 110px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-evenly;
                align-items: center;

                .column {
                    display: flex;
                    flex-direction: column;

                    img {
                        filter: brightness(70%);
                    }
                }

                .ver-galeria {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    z-index: 10;
                    padding: 0;
                    width: auto;
                    height: auto;
                    a {
                        text-decoration: none;
                        background: var(--terciaryColor);
                        color: var(--mainColor);
                        padding: 12px 32px;
                        border-radius: 5px;
                        text-decoration: none;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }

                a:hover{
                    background: var(--secondaryColor);
                    color: var(--terciaryColor);
                    transform: scale(1.05);
                    transition: transform 0.2s;
                }
                .ver-galeria:hover ~ .column {
                    
                    img {
                        transition: none;
                        filter: grayscale(100%) brightness(50%);
                    }
                }
            }
        }

        .mapa {
            display: flex;
            justify-content: center;

            iframe {
                width: 70%;
            }
        }}
    }

   

    .main-servicos {
        .all-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .card {
                margin: 25px;
            }
        }
    }

   

    .main-contato {


        form {
            display: flex;
            justify-content: space-between;

            .opcao-2-mobile {
                display: none;
            }

            .opcao-2-desktop {
                display: block;
                width: 40%;
            }

            .formulario {
                width: 900px;
                padding: 40px 100px;
                margin-inline: auto;

                .nome-tel {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .class-nome,
                    .class-tel {
                        width: 47%;
                        display: flex;
                        flex-direction: column;
                    }
                }


               

                .alternativa {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;

                    input {

                        margin: 0px;
                    }
                }


                .opcoes-pai {
                    display: flex;
                    justify-content: center;

                    .opcoes {
                        width: 80%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        padding: 20px;
                    }
                }


                .service-period {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 20px;


                    .service,
                    .period {
                        width: 47%;

                        select {
                            text-align: center;
                        }

                    }
                }
            }
        }
    }

    footer {
        .redes {
            width: 600px;
        }
    }
}