:root {
    --mainColor: rgb(0, 0, 0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial;
}

header {
    width: 100%;

    hr {
        color: white;
    }

    .navbar {
        background-color: var(--mainColor) !important;
        position: absolute;
        width: 100%;

        .navbar-brand {
            width: 100px;

            img {
                width: 100%;
            }
        }

        .navbar-toggler {
            background-color: white;

            .navbar-toggler-icon {
                color: white !important;
            }
        }

        .nav-link {
            color: white !important;
            width: 100%;
            text-align: center;
            font-size: 20px;
        }
    }
}

main {
    padding-top: 10%;

    .img-fundo {
        img {
            width: 100%;
        }
    }

    .bem-vindo {
        width: 100%;
        height: 500px;
        top: 40%;
        background-image: url("../imgs/barbearia.jpg");
        background-size: cover;
        background-position: center;

        p {
            color: white;
            font-size: 50px;
            text-align: center;
            padding: 100px;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        }
    }
}

.main-servicos {
    .card {
        margin: 20px;
        margin-inline: auto;
        border-width: 10px;
        border-color: black;

        .card-body {
            background-color: var(--mainColor);
            color: white;
            text-align: center;

            .btn {}
        }
    }
}

footer {
    width: 100%;
    background-color: var(--mainColor);
    bottom: 0px;
    padding: 20px;
    padding-bottom: 0;

    p {
        width: 100%;
        text-align: center;
        color: white;
        margin: 0;
        padding: 40px;
    }

    i {
        color: white;
    }

    .redes {
        display: flex;
        width: 100%;
        margin-inline: auto;

        .column {
            text-align: center;
            margin-inline: auto;

            i {
                color: black;
                text-align: center;
                background-color: white;
                padding: 10px;
                border-radius: 100%;
                font-size: 30px;
            }
        }


        .barber {
            img {
                width: 50px;
                background-color: white;
                border-radius: 100%;
            }
        }
    }
}

#mainHeader {
    transition: top 0.3s;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}

#mainHeader.hide-header {
    top: -500px;
    /* Esconde o header para cima */
}